@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url(font/HansiefRough.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    color: #C69C6D;
}


header{
    box-shadow: 0px 1px 10px rgba(0,66, 33, 11, 0.65);
    background-color: rgb(66, 33, 11);

}

header .cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .cabecalho a{
    text-decoration: none;
    color: inherit;
}

header .cabecalho .iconeLogo{
    margin-right: 50px;
}

header .cabecalho .dsk{
    display: none;
}

main .banner{
    width: 100%;
    opacity: 70%;
}


h1{
    font-weight: normal;
    font-size: 1rem;
    color: #ffff;
}


main .corpoIndex .descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 10%;
}

main .corpoIndex .descricao .introducao p{
    font-family: 'Numans', sans-serif;
    color: #C69C6D;
    font-size: 0.8rem;
}
main .corpoIndex .descricao .tituloDesc {
    padding-bottom: 10px;
}

main .corpoIndex .descricao .tituloDesc h2{
    font-weight: bold;
    font-size: 2rem;
    color: #42210B;
}

main .corpoIndex .descricao .introducao .btnIntroducao .startSocio{
    margin: 20px 10px 20px 0px;
    width: 110px;
    height: 45px;
    background-color: #C69C6D;
    color: #42210B;
    font-weight: lighter;
    font-size: 0.8rem;
    border: none;
    border-radius: 8px;
} 

main .corpoIndex .descricao .introducao .btnIntroducao a{
    color: #C69C6D;
    font-weight: bold;
}

main .planosIndex{
    background-color: #C69C6D;
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #42210B;
}
main .planosIndex .tituloPlanos{
    font-size: 1.2rem;
    color: #42210B;
    margin-top: 13px;
}
main .planosIndex h3{
    font-size: 0.7rem;
    margin: 15px;
    text-align: center;
    color: #42210B;
}

main .planosIndex .cardsPlanos .card{
    border: 1px solid #42210B;
    width: 258px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap: 10px;
    margin-bottom: 20px;
}

main .planosIndex .cardsPlanos .card .imgCard{
    margin: 10px 0px 0px;
    background-image: url(../img/planos-imgcard.svg);
    background-repeat: no-repeat;
    width: 172px;
    height: 172px;
    background-size: cover;    
}

main .planosIndex .cardsPlanos .card .categoria{
    background-color: #ffffff;
    text-align: center;
    font-family: 'Hansief-Rough';
    color: #42210B;
    font-size: 1.5rem;
}

main .planosIndex .cardsPlanos .card .preco{
    border-top: 4px solid #42210B;
    width: 130px;
    padding-top: 10px;
    text-align: center;
}

main .planosIndex .cardsPlanos .card .descPlanos{
    color: #42210B;
}

main .planosIndex .cardsPlanos .card .btnComecar{
    background-color: #ffff;
    font-family: 'Hansief-Rough';
     color: #42210B;
    width: 150px;
    height: 55px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #42210B;
}

main .barbeariasIndex{
        background-color: #ffffff;
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

main .barbeariasIndex h2{
    font-size: 1.2rem;
    color: #42210B;
}


main .barbeariasIndex .cardsBarbearia .cardB{
    border: 1px solid #42210B;
    width: 288px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 30px;
    gap: 10px;
}


main .barbeariasIndex .cardsBarbearia .cardB .descPlanos{
    color: #42210B;
    margin-top: 20px;
    border-top: 2px solid #42210B;
    padding-top: 13px;
    width: 170px;
    text-align: center;
}
main .barbeariasIndex .cardsBarbearia .cardB .descLocal{
    border-bottom: 2px solid #42210B;
    padding-bottom: 13px;
    width: 170px;
    text-align: center;
}

main .barbeariasIndex .localBarbearia{
    font-family: 'Hansief-Rough' ;
    color: #42210B;
    font-size: 1.7rem;
}

main .barbeariasIndex .cardsBarbearia .cardB .btnComecar{
    background-color: #C69C6D;
    font-family: 'Hansief-Rough';
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    margin: 20px 0px;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ffffff;
}


main .duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main .duvidas .perguntasFrequentes{
    padding: 10%;
}

main .duvidas .perguntasFrequentes .perguntasResposta{
    border-bottom: 1px solid #42210B;
    display: flex;
    margin-bottom: 20px;
    justify-content: start;
}

main .duvidas .perguntasFrequentes .perguntasResposta .iconePergunta{
    background-image: url("img/iconplus.png") ;
    padding: 10px;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
}

main .duvidas .perguntasFrequentes .perguntasResposta .pergunta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .duvidas .perguntasFrequentes .perguntasResposta .pergunta p{
    padding-bottom: 20px;
}

main .duvidas .perguntasFrequentes .perguntasResposta .pergunta #resposta1, #resposta2, #resposta3, #resposta4{
    padding-bottom: 20px;
    font-size: 0.8rem;
    display: none;
}

footer{
    background-color:#000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .logo-footer{
    padding: 20px;
}


footer .nav-footer{
    margin: 20px 0px;
}

footer .nav-footer .links{
    list-style: none;
    display: flex ;
    flex-direction: column;
    gap: 20px;
    
}

footer .nav-footer .links a {
    color: #ffffff;
    text-decoration: none;
}

footer .redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    gap: 20px;
}


@media screen and (min-width:769px) {

    header .cabecalho{
        font-size: 0.5rem;
    }

    header .cabecalho .iconeLogo{
        margin-right: 10px;
    }

    header .cabecalho .hamburguer{
        display: none;
    }

    header .cabecalho .dsk{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .cabecalho .list{
        list-style: none;
        display: flex;
        align-items: center;
    }

    header .cabecalho .menu a{
        font-size: 0.8rem;
        list-style: none;
        padding: 0px 5px;
        text-align: center;
    }   
    header .cabecalho .icons{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        position: relative;
        left: 20px;
    } 
    header .cabecalho .icons .user-dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .cabecalho .icons .user-dropdown .drop{
        position: relative;
        left: -10px;
    }
    main .corpoIndex .banner{

    }
    main .corpoIndex .descricao{

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5%;
    }
    main .corpoIndex .descricao .tituloDesc {

        width: 50%;
        text-align: center;

    }
    main .corpoIndex .descricao .introducao{
        width: 50%;
        padding: auto;
    }

    main .planosIndex .tituloPlanos {
        font-size: 2rem;
    }
    main .planosIndex h3{
        font-size: 1rem;
    }

    main .planosIndex .cardsPlanos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        
    }

    main .barbeariasIndex .cardsBarbearia{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    main .barbeariasIndex .cardsBarbearia .cardB{
        width: 420px;
        height: 500px;
    }
   

}
@media (min-width:1280px) {

        
        main .corpoIndex .descricao .introducao p{
            font-size: 1.5rem;
        }

        main .corpoIndex .descricao .tituloDesc h2{
            font-size: 5rem;
        }

        main .planosIndex .cardsPlanos .card{
            width: 420px;
            height: 500px;
            gap: 10px;
            margin-top: 20px;
        }
        
        main .planosIndex .cardsPlanos .card .imgCard{
            width: 202px;
            height: 202px;
        }
        
        main .duvidas {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        main .duvidas h2{
            font-size: 2rem;
        }
        main .duvidas .perguntasFrequentes .perguntasResposta{
            width: 900px;
            justify-content: center;
        }

        main .duvidas .perguntasFrequentes .perguntasResposta p{
            font-size: 2rem;
        }

        main .duvidas .perguntasFrequentes{
            padding-top: 60px;
        }
    
        footer{
            flex-direction: row;
            justify-content: space-around;
        }
} 