@font-face {
    font-family: 'Hansief-Rough';
    src: url(font/HansiefRough.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    color: #C69C6D;
}


header{
    box-shadow: 0px 1px 10px rgba(0,66, 33, 11, 0.65);
    background-color: rgb(66, 33, 11);

}

header .cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .cabecalho a{
    text-decoration: none;
    color: inherit;
}

header .cabecalho .iconeLogo{
    margin-right: 50px;
}

header .cabecalho .dsk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (max-width: 768px){
    header .cabecalho .dsk{
        display: none;
    }
} */

header .cabecalho .list{
    list-style: none;
    display: flex;
    align-items: center;
    width: 215px;
    justify-content: space-between;
    margin-right: 5%;
}

header .cabecalho .menu a{
    font-size: 0.6rem;
    padding: 0px 2px;
    text-align: center;
    font-weight: bold;
}   

footer{
    background-color:#000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .logo-footer{
    padding: 20px;
}


footer .nav-footer{
    margin: 20px 0px;
}

footer .nav-footer .links{
    list-style: none;
    display: flex ;
    flex-direction: column;
    gap: 20px;
    
}

footer .nav-footer .links a {
    color: #ffffff;
    text-decoration: none;
}

footer .redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    gap: 20px;
}


@media screen and (min-width:769px) {
    
    header .cabecalho .list{
        width: 350px;
    }
    
    header .cabecalho .menu a{
        font-size: 0.8rem;
    }   

    footer{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width:1280px) {

    header .cabecalho .list{
        width: 400px;
    }
    
    header .cabecalho .menu a{
        font-size: 0.9rem;
    }   
}