@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url(font/HansiefRough.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
    font-family: 'Numans', sans-serif;
    color: #C69C6D;
}
header{
    box-shadow: 0px 1px 10px rgba(0,66, 33, 11, 0.65);
    background-color: rgb(66, 33, 11);

}


header .cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .cabecalho a{
    text-decoration: none;
    color: inherit;
}
header .cabecalho .iconeLogo{
    margin-right: 50px;
}
header .cabecalho .dsk{
    display: none;
}
main section article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    border: solid 2px ;
    margin-top: 50px;

}

main section article .planitems{

    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

}
.bord{
    border: solid 2px ;
}
.planitems li:before {
    content: '✓';
  }


@media screen and (min-width:570px) {

    header .cabecalho{
        font-size: 0.5rem;
    }

    header .cabecalho .iconeLogo{
        margin-right: 10px;
    }

    header .cabecalho .hamburguer{
        display: none;
    }

    header .cabecalho .dsk{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .cabecalho .list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .cabecalho .menu a{
        font-size: 8px;
        list-style: none;
        padding: 0px 5px;
        text-align: center;
    }   
    header .cabecalho .icons{
        display: flex;
        justify-content: space-between;
        gap: 5px;
        position: relative;
        left: 20px;
    } 
    header .cabecalho .icons .user-dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .cabecalho .icons .user-dropdown .drop{
        position: relative;
        left: -10px;
    }