</main>

<footer>
    <div class="logo-footer">
        <img src="images/logo-footer.svg" alt="">
    </div>
    <div class="ladoDireitoFooter">
        <nav class="nav-footer">
            <ul class="links">
            <li><a href="#">trabalhe conosco</a></li>
            <li><a href="#">fale conosco</a></li>
            <li><a href="#">termos e condições</a></li>
            </ul>
        </nav>
        <div class="redes-sociais">
            <img src="images/Twitter.png" alt="">
            <img src="images/Facebook.png" alt="">
            <img src="images/instagram.png" alt="">
        </div>
    </div>

</footer>
