
    <footer>
        <nav class="container-footer">
            <div class="logo-footer">
                <img src="images/fiodobigode-logo_vertical.svg" alt="">
            </div>
            <div class="ladoDireitoFooter">
                <nav class="nav-footer">
                    <ul class="links">
                    <li><a href="#">trabalhe conosco</a></li>
                    <li><a href="#">fale conosco</a></li>
                    <li><a href="#">termos e condições</a></li>
                    </ul>
                </nav>
                <div class="redes-sociais">
                    <img src="images/Twitter.svg" alt="">
                    <img src="images/Facebook.svg" alt="">
                    <img src="images/instagram.svg" alt="">
                </div>
            </div>
        </nav>

    </footer>
