    <footer>
        <nav class="container-footer">
            <div class="logo-footer">
                <a href="/home"><img class="iconeLogo" src="/images/fiodobigode-logo_vertical.svg"></a>
            </div>
            <div class="ladoDireitoFooter">
                <nav class="nav-footer">
                    <ul class="links">
                    <li><a href="/equipe">Conheça a equipe</a></li>
                    <li><a href="/faleconosco">Fale conosco</a></li>
                    <li><a href="/politica">Política de privacidade</a></li>
                    </ul>
                </nav>
                <ul class="redes-sociais">
                    <li><a href="https://github.com/dvictor13/projeto-integrador-turma3" target="_blank"><img src="/images/github.svg" alt=""></a></li>
                    <!--<img src="/images/Facebook.svg" alt="">
                    <img src="/images/instagram.svg" alt="">-->
                </ul>
            </div>
        </nav>
    </footer>
