<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/estiloHeaderFooter.css">
    <title>Barba,Cabelo e Bigode</title>
</head>
<body>
    <header>
        <nav class="cabecalho">
            <a href="home"><img class="iconeLogo" src="images/logo-header.svg"></a>
         <!--  <img class="hamburguer" src="img/hamburguer.svg" alt=""> --> 
            <div class="menu dsk">
                <ul class="list">
                    <li><a href="planos">PLANOS</a></li>
                    <li><a href="barbearias">BARBEARIAS</a></li>
                    <li><a href="cadastro" >LOGIN</a></li>  <!--consertar pro login quando der-->
                </ul>
            </div>
            <!--
            <div class="icons dsk">
                <img src="img/icon_Shop.svg" alt="" class="icon">
                <img src="img/icon_Notification.svg" alt="" class="icon">
                <div class="user-dropdown">
                    <img src="img/icon_User.svg" alt="">
                    <img src="img/Dropdrown.svg" alt="" class="drop">
                </div>
            </div>
             -->
        </nav>

        
    </header>
    <main>
