<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/estiloHeaderFooter.css">
    <title>Barba,Cabelo e Bigode</title>
</head>
<body>
    <header>
        <nav class="cabecalho">
            <a href="#"><img class="iconeLogo" src="images/fiodobigode-logo-horizontal.svg"></a>
         <!--  <img class="hamburguer" src="img/hamburguer.svg" alt=""> --> 
            <div class="menu dsk">
                <ul class="list">
                    <li><a href="planos">PLANOS</a></li>
                    <li><a href="barbearias">BARBEARIAS</a></li>
                    <li><a href="cadastro" >LOGIN</a></li>  <!--consertar pro login quando der-->
                </ul>
            </div>
        </nav>

        
    </header>
    <main>
