<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>API Barbearias</title>
  </head>
  <body>
    <h1>Peça ao Cliente para informar a ID</h1>

    <form method="post" action="/api">
        <div class="form-group">
          <label for="InputID">ID Cliente</label>
          <input type="number" class="form-control" id="InputID" placeholder="ID" name="id">
          <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <form action="/api?_method=PUT" method="POST">
        <label for="InputID">Insira o ID do Cliente</label>
        <input type="number" class="form-control" id="InputID" placeholder="ID" name="id">
        <br>
        <p>Cliente cortou o cabelo?</p>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="cabelo" id="InputCabeloSim" value="1">
          <label class="form-check-label" for="InputCabeloSim">
            Sim
          </label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="cabelo" id="InputCabeloNao" value="0" checked>
          <label class="form-check-label" for="InputCabeloNao">
            Não
          </label>
        </div>
        <p></p>
        <p>Cliente fez barba?</p>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="barba" id="InputBarbaSim" value="1">
          <label class="form-check-label" for="InputBarbaSim">
            Sim
          </label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="barba" id="InputBarbaNao" value="0" checked>
          <label class="form-check-label" for="InputBarbaNao">
            Não
          </label>
        </div>
        <p></p>
        <div>
            <label for="InputExtra">Cliente fez Serviços Extras?</label>
            
            <input type="number" class="form-control" id="InputExtra" placeholder="Extras" name="extras" required>
            <small id="emailHelp" class="form-text text-muted">Caso cliente não tenha utilizado serviços extras, preencha com 0.</small>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>