<link rel="stylesheet" href="stylesheets/estiloBarbearias.css">

<%- include('./partials/header') %>
        <section class="introBarbearias">
            <h2>veja as barbearias que fazem parte da nossa rede</h2>
            <p class="destaque">If you’re looking for the latest in wireless headphones, look no further. These are perfect</p>
            <p class="paragraph">If you’re looking for the latest in wireless headphones, look no further. These are perfect for TV, stereo, home, and cell phone. If you’re looking for the latest in wireless headphones, look no further. These are perfect for TV,
            </p>

            <section class="map">
                <h2>Busque a barbearia mais próxima de você</h2>
                <form class="form-container">
                    <p><label for="adress" >Busca por CEP ou endereço</label>
                    <input type="text" name="adress" id="nome" placeholder="Digite o CEP ou nome da rua" required>
                    </p>
                    <p>
                    <label for="text">Busca por serviço:</label>
                    </p>
                    <p>
                    <select name="departamentos" id="departamentos"  required>
                            <option selected disabled>Selecione</option>
                            <option value="barba">Barba</option>
                            <option value="cabelo">Cabelo</option>
                            <option value="depilação">Depilação</option>
                    </select>
                    </p>
                    <p>
                    <button class="btn">enviar</button>
                    </form>
                    </p>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=digitalhouse&t=&z=13&ie=UTF8&iwloc=&output=embed">
                        </iframe>
                    </div>
                </div>
            </section>
            <section class="barbeariasIndex">
                <h2>CONHEÇA AS BARBEARIAS</h2>
                <div class="cardsBarbearia">
                    <article class="cardB">
                        <div class="imgCard"><img src="images/barbearias.svg" alt=""></div>
                        <p class="localBarbearia">BAIRRO CENTRO</p>
                        <p class="descPlanos">Av. Brasil, 2022</p>
                        <p class="descLocal">loja 01</p>
                        <div class="redes-sociais">
                            <img src="images/Twitter.png" alt="">
                            <img src="images/Facebook.png" alt="">
                            <img src="images/instagram.png" alt="">
                        </div>
                        <button class="btnComecar">VER LOJA</button>
                    </article>
                    <article class="cardB">
                        <div class="imgCard"><img src="images/barbearias.svg" alt=""></div>
                        <p class="localBarbearia">VILA JARDIM</p>
                        <p class="descPlanos">Av. Beira-Mar, 2023</p>
                        <p class="descLocal">loja 02</p>
                        <div class="redes-sociais">
                            <img src="images/Twitter.png" alt="">
                            <img src="images/Facebook.png" alt="">
                            <img src="images/instagram.png" alt="">
                        </div>
                        <button class="btnComecar">VER LOJA</button>
                    </article>
                </div>
            </section>
<%- include('./partials/footer')%>

</body>
</html>