<link rel="stylesheet" href="stylesheets/estiloCadastro.css">
<link rel="stylesheet" href="stylesheets/estilo.css">

<%- include('./partials/header') %>
<main>
        <section class="corpoCadastro">
            <div class="facaSeuLogin">
                <h1 class="titulo">FAÇA SEU LOGIN</h1>
                <h2 class="titulo">ACESSE COM UMAS DE SUAS CONTAS SOCIAIS</h2>
                <div class="links">
                    <a href="assinante"><img src="images/Facebook-login.png"></a>
                    <a href="assinante"><img src="images/instagram-login.png"></a>
                    <a href="assinante"><img src="images/google-login.png"></a>
                </div>
                <p class="titulo">OU</p>
                <br>
                <h2 class="tituloh2">CRIE SUA CONTA</h2>
            </div>
            <section class="formulariocampos">
                <form class=form1 id="form1" action="cadastro" method="POST">
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                    <br>
                    <input type="email" id="email" name="email" placeholder="Digite seu email" required>
                    <br>
                    <input type="number" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
                    <br>
                    <input class=date type="date" id="nascimento" name="nascimento" placeholder="Digite a data de nascimento" required>
                    <br>
                    <input type="tel" id="telefone" name="telefone" placeholder="Digite seu telefone para contato">
                    <br>
            </div>
            <div class="formularioGenero">
                <label for="genero">Gênero</label>
                <div>
                    <input type="radio" name="genero" id="masculino" value="masculino" required><label form="masculino">Masculino</label>
                </div>
                <div>
                    <input type="radio" name="genero" id="feminino" value="feminino"><label form="feminino">Feminino</label>
                </div>
                <div>
                    <input type="radio" name="genero" id="outros" value="outros"><label form="outros">Outros</label>
                </div>    
                <div>    
                    <input type="radio" name="genero" id="nao informado" value="nao informado"><label form="nao informado">Prefiro não informar</label>
                </div>    
            </div>
                
            </section>
            <div class="btnCadastro">
                <input type="submit" value="CONCLUIR" class="concluirCadastro"  />
            </div>
        </form>
            
        </section>
    <%- include('./partials/footer') %>   
    
</body>
</html>