<link rel="stylesheet" href="/stylesheets/estiloCarrinho.css">

<%- include('./partials/header') %>
        <section class="flex-container">
            <h2 class="white ak-black">VOCÊ ESCOLHEU O <br> PLANO <span class="brown-light ak-black">BASIC</span></h2>
            <p class="white ak-bold">Você está escolhendo economizar. Fazer um dos nossos planos garantem economia no final do mês. Quando maior o plano, mais você economiza. Escolha os planos de acordo com sua necessidade e faça as contas! </p>
                
            <section class="secaoPlanoEscolhido">
                <form class="cardsPlanos" action="/pagamento" method="POST">

                    <article class="categoriaPlano">
                            <div class="radio">
                    <input type="radio" name="categoriaP" id="basic" value="BASIC">
                                <label for="BASIC" class="caixinha"></label>
                                <label for="BASIC" class="categoria">BASIC</label>
                            </div>
                            <div class="descricao">
                                <div class="ladoDir">
                                    <p class="descPlanos">1 barba</p>
                                    <p>por mês</p>
                                </div>
                                <div class="ladoEsq">
                                    <p class="descPlanos"> 1 corte de cabelo</p>
                                    <p>por mês</p>
                                </div>
                            </div>
                            <h2 class="preco">R$35,00</h2>
                     </article>

                     <p class="oferta">Por mais R$20,00 você pode</p><p class="oferta">fazer upgrade do plano</p>

                     <article class="categoriaPlanoUp">
                        <div class="radio">
                    <input type="radio" name="categoriaP" id="standard" value="STANDARD"><label for="STANDARD" class="caixinha"></label><label for="STANDARD" class="categoria">STANDARD</label>
                        </div>
                        <div class="descricao">
                            <div class="ladoDir">
                                <p class="descPlanos">2 barbas</p>
                                <p>por mês</p>
                            </div>
                            <div class="ladoEsq">
                                <p class="descPlanos"> 2 cortes de cabelo</p>
                                <p>por mês</p>
                            </div>
                        </div>
                        <h2 class="preco">R$65,00</h2>
                        <button class="btnComecar">Realizar pagamento</button>
                    </article>
                </form>
            </section>
            
            


            <%- include('./partials/footer') %>

</body>
