<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/baseEstilo.css">
    <link rel="stylesheet" href="/stylesheets/indexEstilo.css">
    <!-- <link rel="stylesheet" href="/stylesheets/estilo.css">
    <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css"> -->
    <title>Barba,Cabelo e Bigode</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700;900&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>

<%- include('./partials/header') %>
<main class="nossa-equipe">

    <section id="cards-equipe">
        <div class="tituloDesc">
            <h2>Nossa equipe</h2>
        </div>
        <div class="container-equipe">
            <article class="members">
                <div class="photo-name">
                    <img src="./images/barbeiros/barbeiros_8.jpg" alt="">
                    <div class="name">
                        <h3>Douglas Menezes</h3>
                        <p>Design Creator</p>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </article>
            <article class="members">
                <div class="photo-name">
                    <img src="./images/barbeiros/barbeiros_4.jpg" alt="">
                    <div class="name">
                        <h3>Gisele Ayres</h3>
                        <p>Scrum Master</p>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </article>
            <article class="members">
                <div class="photo-name">
                    <img src="./images/barbeiros/barbeiro_detalhe_tesoura.jpg" alt="">
                    <div class="name">
                        <h3>Júlio Mattos</h3>
                        <p>DevOps Chief</p>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </article>
            <article class="members">
                <div class="photo-name">
                    <img src="./images/barbeiros/barbeiros_2.jpg" alt="">
                    <div class="name">
                        <h3>Melissa Ost</h3>
                        <p>Business Idea Creator</p>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </article>
            <article class="members">
                <div class="photo-name">
                    <img src="./images/barbeiros/barbeiros_3.jpg" alt="">
                    <div class="name">
                        <h3>Renato Pedro</h3>
                        <p>Maintenance Chief</p>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </article>
        </div>
    </section>


</main>
    <%- include('./partials/footer') %>

</body>

</html>