<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/baseEstilo.css">
    
    <!-- <link rel="stylesheet" href="/stylesheets/estilo.css">
    <link rel="stylesheet" href="/stylesheets/estiloForm.css">
    <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css"> -->
    <title>Barba,Cabelo e Bigode</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400;700;900&family=Staatliches&display=swap"
        rel="stylesheet">
</head>
<body>

<%- include('./partials/header') %>
<main>
    <section id="contact-us">
            <h2>Fale conosco</h2>
                <div class="content">
                    <form action="">
                        <label for="fname">Nome</label>
                        <input type="text" id="fname" name="firstname" placeholder="Nome">
                
                        <label for="lname">Sobrenome</label>
                        <input type="text" id="lname" name="lastname" placeholder="Sobrenome">
                
                        <label for="local">Estado</label>
                        <select class="list-option" id="local" name="local">
                            <option selected disabled>Selecione</option>
                            <option value="rj">Rio de Janeiro</option>
                            <option value="sp">São Paulo</option>
                            <option value="rs">Rio Grande do Sul</option>
                            <option value="rs">Outro</option>
                        </select>
                
                        <label for="subject">Mensagem</label>
                        <textarea class="list-option" id="subject" name="subject" placeholder="Deixe a sua mensagem" style="height:200px"></textarea>
                        
                        <input type="submit" value="Enviar">
                        <!--<button onclick="closeContact()" id="fechar-contact-us">FECHAR</button>-->
                    </form>
                
            </div>
    </section>


</main>
    <%- include('./partials/footer') %>

</body>

</html>