<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/estilo.css">
    <link rel="stylesheet" href="/stylesheets/estiloHeaderFooter.css">
    <title>Barba,Cabelo e Bigode</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

<%- include('./partials/header') %>
<main>

    <section id="politica-de-privacidade">
        <div class="p-container">
            <div class="content">
                <h2>Política de Privacidade</h2>
                <p class="politica-paragrafo">
                    É nossa política fundamental respeitar a sua privacidade em relação a qualquer informação sua que possamos
                    coletar neste site.
                </p>
                <p class="politica-paragrafo">
                    Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
                    Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos
                    coletando e como será usado.
                </p>
                <p class="politica-paragrafo">
                    Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando
                    armazenamos dados, protegemos dentro de meios comercialmente aceitáveis para evitar perdas e roubos, bem como
                    acesso, divulgação, cópia, uso ou modificação não autorizados.
                </p>
                <p class="politica-paragrafo">
                    Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por
                    lei.
                </p>
                <p class="politica-paragrafo">
                    O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos
                    controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas
                    políticas de privacidade.
                </p>
                <p class="politica-paragrafo">
                    Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos
                    fornecer alguns dos serviços desejados.
                </p>
                <p class="politica-paragrafo">
                    O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e
                    informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações
                    pessoais, entre em contato conosco.
                </p>
                <h3>Política de cookies</h3>
                <p class="politica-paragrafo">
                    <strong>O que são cookies?</strong>
                </p>
                <p class="politica-paragrafo">
                    Como é prática comum em quase todos os sites profissionais, este site usa cookies, que são pequenos arquivos
                    baixados no seu computador, para melhorar sua experiência.
                </p>
                <p class="politica-paragrafo">
                    Esta página descreve quais informações eles coletam, como as usamos e por que às vezes precisamos armazenar
                    esses cookies. Também compartilharemos como você pode impedir que esses cookies sejam armazenados, no entanto,
                    isso pode fazer o downgrade ou "quebrar" certos elementos da funcionalidade do site.
                </p>
                <p class="politica-paragrafo">
                    <strong>Como usamos os cookies?</strong>
                </p>
                <p class="politica-paragrafo">
                    Utilizamos cookies por vários motivos, detalhados abaixo. Infelizmente, na maioria dos casos, não existem opções
                    padrão do setor para desativar os cookies sem desativar completamente a funcionalidade e os recursos que eles
                    adicionam a este site. É recomendável que você deixe todos os cookies se não tiver certeza se precisa ou não
                    deles, caso sejam usados para fornecer um serviço que você usa.
                </p>
                <p class="politica-paragrafo">
                    <strong>Desativar cookies</strong>
                </p>
                <p class="politica-paragrafo">
                    Você pode impedir a configuração de cookies ajustando as configurações do seu navegador (consulte a Ajuda do
                    navegador para saber como fazer isso).
                </p>
                <h3>Cookies que definimos:</h3>
                <p class="politica-paragrafo">
                    
                    <strong>Cookies relacionados à conta</strong>
                </p>
                <p class="politica-paragrafo">
    
                    Se você criar uma conta conosco, usaremos cookies para o gerenciamento do processo de inscrição e administração
                    geral. Esses cookies geralmente serão excluídos quando você sair do sistema, porém, em alguns casos, eles
                    poderão permanecer posteriormente para lembrar as preferências do seu site ao sair.
                </p>
                <p class="politica-paragrafo">
                    <strong>Cookies relacionados ao login</strong>
                </p>
                <p class="politica-paragrafo">
                    Utilizamos cookies quando você está logado, para que possamos lembrar dessa ação. Isso evita que você precise
                    fazer login sempre que visitar uma nova página. Esses cookies são normalmente removidos ou limpos quando você
                    efetua logout para garantir que você possa acessar apenas a recursos e áreas restritas ao efetuar login.
                </p>
                <p class="politica-paragrafo">
                    <strong>Cookies relacionados a boletins por e-mail</strong>
                </p>
                <p class="politica-paragrafo">
                    Este site oferece serviços de assinatura de boletim informativo ou e-mail e os cookies podem ser usados para
                    lembrar se você já está registrado e se deve mostrar determinadas notificações válidas apenas para usuários
                    inscritos / não inscritos.
                </p>
                <p class="politica-paragrafo">
                    <strong>Cookies relacionados a formulários</strong>
                </p>
                <p class="politica-paragrafo">
                    Quando você envia dados por meio de um formulário como os encontrados na página de contato ou nos formulários de
                    comentários, os cookies podem ser configurados para lembrar os detalhes do usuário para correspondência futura.
                </p>
                <p class="politica-paragrafo">
                    <strong>Cookies de preferências do site</strong>
                </p>
                <p class="politica-paragrafo">
                    Para proporcionar uma ótima experiência neste site, fornecemos a funcionalidade para definir suas preferências
                    de como esse site é executado quando você o usa. Para lembrar suas preferências, precisamos definir cookies para
                    que essas informações possam ser chamadas sempre que você interagir com uma página for afetada por suas
                    preferências.
                </p>
                <p class="politica-paragrafo">
                    <strong>Cookies de Terceiros</strong>
                </p>
                <p class="politica-paragrafo">
                    Em alguns casos especiais, também usamos cookies fornecidos por terceiros confiáveis. A seção a seguir detalha
                    quais cookies de terceiros você pode encontrar através deste site.
                </p>
                <p class="politica-paragrafo">
                    Este site usa o Google Analytics, que é uma das soluções de análise mais difundidas e confiáveis da Web, para
                    nos ajudar a entender como você usa o site e como podemos melhorar sua experiência. Esses cookies podem rastrear
                    itens como quanto tempo você gasta no site e as páginas visitadas, para que possamos continuar produzindo
                    conteúdo atraente.
                </p>
                <p class="politica-paragrafo">
                    Para mais informações sobre cookies do Google Analytics, consulte a página oficial do Google Analytics.
                </p>
                <p class="politica-paragrafo">
                    As análises de terceiros são usadas para rastrear e medir o uso deste site, para que possamos continuar
                    produzindo conteúdo atrativo. Esses cookies podem rastrear itens como o tempo que você passa no site ou as
                    páginas visitadas, o que nos ajuda a entender como podemos melhorar o site para você.
                    Periodicamente, testamos novos recursos e fazemos alterações subtis na maneira como o site se apresenta. Quando
                    ainda estamos testando novos recursos, esses cookies podem ser usados para garantir que você receba uma
                    experiência consistente enquanto estiver no site, enquanto entendemos quais otimizações os nossos usuários mais
                    apreciam.
                </p>
                <p class="politica-paragrafo">
                    À medida que vendemos produtos, é importante entendermos as estatísticas sobre quantos visitantes de nosso site
                    realmente compram e, portanto, esse é o tipo de dados que esses cookies rastrearão. Isso é importante para você,
                    pois significa que podemos fazer previsões de negócios com precisão que nos permitem analisar nossos custos de
                    publicidade e produtos para garantir o melhor preço possível.
                </p>
                <h3>Mais informações</h3>
                <p class="politica-paragrafo">
                    Esta política é efetiva a partir de Setembro/2022.</p>
            </div>
            <!-- <button onclick="closePolitica()" id="fechar-politica">FECHAR</button> -->
        </div>
    </section>


</main>
    <%- include('./partials/footer') %>

</body>

</html>