main {
    background-color: var(--secundary-color);
    opacity: 1;
    background-image: radial-gradient(#42210B 0.65px, transparent 0.65px), radial-gradient(#42210B 0.65px, #754C24 0.65px);
    background-size: 26px 26px;
    background-position: 0 0, 13px 13px;
}


main h2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--terciary-color);
    font-weight: 700;
    padding: 20px;
}

@media screen and (min-width:768px) {
    main h2{
        font-size: 2.2rem;
    }
    
}

main h2 span{
    text-transform: capitalize;
    color: var(--white);
}

#dados{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

@media screen and (min-width:768px) {
    #dados{
        flex-direction: row;
        max-width: 1200px;
        margin: 20px auto;
    }
}

#dados .photo{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    #dados .photo{
        flex: 1 1 20%;
    }
}

#dados .photo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 80px;
}

.form1{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}

@media screen and (min-width:768px) {
    .form1{
        margin: 0 40px;
    }
}

.form1 .infos{
    padding: 10px 0;
    color: var(--primary-color);
}

.form1 .butons{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
}

#formImg{
    width: 100%;
    padding: 10px;
}

#formImg input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    max-width: 170px;
}

#formImg button{
    width: 100%;
    max-width: 150px;
    padding: 5px 10px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    font-weight: 700;
    border: none;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
}

#formImg button:hover{
    background-color: var(--yellow);
    color: var(--primary-color);
    transition: 1s;
}



/*---- CARDS PLANOS-------*/

.planosIndex{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--terciary-color);
    padding: 10px;
}

@media screen and (min-width:768px) {
    .planosIndex{
        flex: 1 1 10%;
    }
}

.planosIndex .tituloPlanos{
    text-align: center;
    margin: 20px auto;
}

.planosIndex .cardsPlanos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 50px; */
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.planosIndex .cardsPlanos .card{
    padding: 10px;
    border: var(--terciary-color) 2px solid;
    display: flex;
    max-width: 280px;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    text-align: center;
}

.planosIndex .cardsPlanos .card:hover{
    background-color: var(--black);
    transition: .5s;
}

/* .planosIndex .cardsPlanos .card img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    border: var(--primary-color) 5px solid;
    margin-top: -50px;
} */

.planosIndex .cardsPlanos .card .conteudoCard a button{
    width: 250px;
    margin: 10px auto;
    padding: 5px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    font-weight: 700;
    border: none;
    font-size: 1.2rem;
    border-radius: 50px;
}

.planosIndex .cardsPlanos .card .conteudoCard p{
    font-size: .9rem;
    line-height: 1.6rem;
}

.planosIndex .cardsPlanos .card .conteudoCard .categoria{
    background-color: var(--black);
    width: fit-content;
    padding: 0 15px;
    margin: 0 auto;
    border-radius: 50px;
}

.planosIndex .cardsPlanos .card .conteudoCard .preco{
    color: var(--yellow);
    margin: 5px;
}

.planosIndex .cardsPlanos .card .conteudoCard h2{
    margin: 0;
    padding: 0;
}

.planosIndex .cardsPlanos .card .seuplano{
    color: var(--gray);
}

.planosIndex .cardsPlanos .card:hover .conteudoCard a button{
    background-color: var(--yellow);
    cursor: pointer;
}

@media screen and (min-width:768px) {

}


/* HISTORICO */
.historico{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--black);
}

.historico h2{
    margin: 10px 0;
    padding: 0;
    color: var(--gray);
}


.historico .dados{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width:425px) {
    .historico .dados{
        flex-direction: row;
        justify-content: space-between;
    }
}

.historico .dados .info{
    max-width: 300px;
}

.historico .dados .info h2{
    margin: 10px 0;
    padding: 0;
    color: var(--terciary-color);
}

.historico p{
    color: var(--white);
    font-size: 1.1rem;
    padding-bottom: 10px;
}

/* SECAO PLANOS */
main .sessaoPlanos{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.sessaoPlanos h2{
    font-size: 2rem;
    margin: 10px auto;
    color: var(--terciary-color);
    line-height: 1.8rem;
}

.sessaoPlanos .frases{
    margin-bottom: 40px;
    color: var(--white);
}

.sessaoPlanos .vantagens{
    width: 100%;
    max-width: 600px;
    color: var(--terciary-color);
    margin-bottom: 40px;
}

.sessaoPlanos .cardsPlanos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.sessaoPlanos .cardsPlanos .cardP{
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
}

.sessaoPlanos .cardsPlanos .cardP .categoriaPlano{
    background-color: var(--terciary-color);
    color: var(--primary-color);
}

.sessaoPlanos .cardsPlanos .cardP .categoriaPlano p{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}

.sessaoPlanos .cardsPlanos .cardP .categoriaEcon{
    background-color: var(--black);
    color: var(--gray);
    width: auto;
    margin: 0 auto;
    padding: 5px 10px;
    margin-top: -25px;
}

.sessaoPlanos .cardsPlanos .cardP ul .descPlanos{
    color: var(--primary-color);
    padding: 10px;
    margin-left: 34px;
    list-style-image: url(../images/check.png);
}

.sessaoPlanos .cardsPlanos .cardP .precoButon{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.sessaoPlanos .cardsPlanos .cardP .precoButon .preco{
    text-align: center;
    border-top: 4px solid var(--primary-color);
    width: 175px;
    padding-top: 10px;
}

.sessaoPlanos .cardsPlanos .cardP .precoButon .preco h2{
    margin: 10px auto;
}

.sessaoPlanos .cardsPlanos .cardP .precoButon a button{
    max-width: 280px;
    width: 100%;
    padding: 15px 20px;
    background-color: var(--terciary-color);
    color: var(--primary-color);
    font-weight: 700;
    border: none;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
}

.sessaoPlanos .cardsPlanos .cardP .precoButon a button:hover{
    background-color: var(--yellow);
    color: var(--primary-color);
    transition: 1s;
}

.sessaoPlanos .cardsPlanos .cardP .precoButon a button p{
    font-weight: 700;
}

.sessaoPlanos .cardsPlanos .cardP .economia{
    background-color: var(--black);
    color: var(--gray);
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    margin-top: 20px;
    text-align: center;
}

.sessaoPlanos .cardsPlanos .cardP .economia p{
    font-weight: 700;
}

@media screen and (min-width:768px) {

    .sessaoPlanos .cardsPlanos .cardP {
        flex-direction: row;
        gap: 10px;
        align-items: stretch;
        justify-content: center;
        position: relative;
    }

    .sessaoPlanos .cardsPlanos .cardP .categoriaPlano {
        flex: 1 1 30%;
        align-items: center;
        align-content: stretch;
        display: flex;
        justify-content: center;
    }

    .sessaoPlanos .cardsPlanos .cardP .categoriaEcon {
        left: 20px;
        top: 20px;
        position: absolute;
    }

    .sessaoPlanos .cardsPlanos .cardP ul {
        flex: 1 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: var(--white); */
    }

    .sessaoPlanos .cardsPlanos .cardP .precoButon {
        flex: 1 1 30%;
    }

    .sessaoPlanos .cardsPlanos .cardP .precoButon .preco {
        border-top: none;
    }
}