main .sessaoPlanos{
    background-color: #754C24;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sessaoPlanos h2{
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Hansief-Rough';
    font-weight: lighter;
}

main .sessaoPlanos .vantagens{
    text-align: justify;
    margin: 8%;
    font-family: 'Akrobat-Regular';
    color: #C69C6D;;
}


main .sessaoPlanos .cardsPlanos .cardP{
    border: 1px solid #42210B;
    width: 250px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 15px;
    border: none;
}

main .sessaoPlanos .categoriaPlano{
    width: 100%;
    height: 90px;
    background-color: #C69C6D;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
main .sessaoPlanos .categoriaPlano p{
    color: #42210B;
    font-family: 'Hansief-Rough' ;
    font-size: 1.7rem;
}

main .sessaoPlanos .cardsPlanos .categoriaEcon{
    width: 160px;
    height: 28px;
    color: #ffffff;
    font-family: 'Hansief-Rough';
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -14px;
}

main .sessaoPlanos .cardsPlanos ul{
    margin-top: 5%;

}
main .sessaoPlanos .cardsPlanos .cardP .descPlanos{
    color: #42210B;
    width: 170px;
    list-style-image: url(../images/check.png) ;
}

main .sessaoPlanos .cardsPlanos .cardP .descTempo{
    width: 170px;
}

main .sessaoPlanos .cardsPlanos .cardP .precoButon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

main .sessaoPlanos .cardsPlanos .cardP .preco{
    width: 175px;
    padding-top: 5px;
    text-align: center; 
    font-size: 1.5rem;
    color: #42210B;
    font-family: 'Hansief-Rough';
    font-weight: lighter;
    height: 50px;
    border-top: 4px solid #42210B;
    margin-top: -10px;
}


main .sessaoPlanos .cardsPlanos .cardP .btnComecar{
    background-color: #C69C6D;
    width: 150px;
    height: 70px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

main .sessaoPlanos .cardsPlanos .cardP .btnComecar p {
    font-family: 'Hansief-Rough';
    color: #ffffff;
    font-size: 1.1rem;
}

main .sessaoPlanos .cardsPlanos .cardP .economia{
    width: 100%;
    height: 90px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
main .sessaoPlanos .cardsPlanos .cardP .economia p{
    color: #ffffff;
    font-family: 'Hansief-Rough';
}

@media screen and (min-width:769px) {
    main .sessaoPlanos{
        padding: 2% 5%;

    }

    main .sessaoPlanos h2{
        font-size: 2rem;
        width: 750px;
    }

    main .sessaoPlanos .vantagens{
        margin: 3% 0%;
        width: 750px;
    }

    main .sessaoPlanos .cardsPlanos .cardP{
        width: 750px;
        height: 200px;
        flex-direction: row;
        justify-content: space-between;
    }

    main .sessaoPlanos .categoriaPlano{
        width: 180px;
        height: 200px;
    }

    main .sessaoPlanos .cardsPlanos .cardP .economia{
        display: none;
    }

    main .sessaoPlanos .cardsPlanos .categoriaEcon{
        display: none;
    }

    main .sessaoPlanos .cardsPlanos ul{
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 160px;
        width: 340px;

    }

    main .sessaoPlanos .cardsPlanos li{
        margin-top: 10px;
        margin-right: 20px;
    }

    main .sessaoPlanos .cardsPlanos .cardP .preco{
        width: 100px;
        border-top: none;
        margin-top: -10px;
    }

    main .sessaoPlanos .cardsPlanos .cardP .precoButon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
    }

    main .sessaoPlanos .cardsPlanos .cardP .btnComecar{
        border-radius: 0px;
        margin-bottom: 20px;
    }
/* */
}

@media (min-width:1280px) {

    main .sessaoPlanos h2{
        width: 1200px;
    }

    main .sessaoPlanos .vantagens{
        width: 1200px;
    }

    main .sessaoPlanos .cardsPlanos .cardP{
        width: 1200px;
  /*      height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        margin-top: 15px;
        border: none;*/
    }

    main .sessaoPlanos .categoriaPlano{
        width: 300px;
    }

    main .sessaoPlanos .cardsPlanos ul{
        height: 130px;
        width: 500px;
    
    }

    main .sessaoPlanos .cardsPlanos li{
        margin-top: 10px;
        margin-right: 40px;
    }
}