@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url(../font/HansiefRough.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(../font/Akrobat-Regular.otf) format('opentype');
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main *{
    font-family: var(--ak-font-regular);
}

:root {
    --primary-color: #42210B;
    --secundary-color: #754C24;
    --terciary-color: #C69C6D;
    --white: #ffff;
    --ak-font-regular: Akrobat-Regular;
    --ak-font-black: Akrobat-Black;
    --ak-font-bold: Akrobat-Bold;
    --ak-font-semibold: Akrobat-SemiBold;
    --hans-font: Hansief-Rough;
}

main .corpoCadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 10px;
    max-width: 768px;
    margin: 0 auto;
}

.corpoCadastro .titulo{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6rem;
    padding: 0 10px;
    margin: 10px auto;
}

.corpoCadastro .links{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}


