@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url(../font/HansiefRough.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(../font/Akrobat-Regular.otf) format('opentype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main .corpoCadastro {
    display: block;
    margin: 10px;
    text-align: center;
    width: auto;
}

main *{
    font-family: var(--ak-font-regular);
}

main{
    width: 100%;
}

main section .links{
    display: flex;
    justify-content: center;
}
 main section .links a{
    margin: 0% 5%;
 }

.facaSeulogin{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;

}

h1.titulo{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

.caixinhaLogin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 5%;
    flex-direction: column;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.form2 input{
    width: 70%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
}

.form2 .logar{
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
    margin-bottom: 5%;
}


h2.titulo{
    font-weight: bold;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

p.titulo{
    font-weight: regular;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

h2.tituloh2{
    color: #000000;
    margin: 10px;
    padding: 10px; 
}

ul.facaSeulogin{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

li.redesSociais{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

.formularioGenero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    margin: 30px;
    padding: 10px;
    border: 10px;
    text-align: left;
}

.form1{
    display: inline-block;
    font-weight: regular;
    font-size: 1rem;
    color: #42210B;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    fill: #C69C6D;
        
}
.form1>*{
    margin: 1%;
    width: 80%;
    
}
.form1 input{
    border:solid 2px var(--primary-color);
    font-size: 1rem;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;

}

.form1 input[type=radio]{
    margin: 1% 1%;
}

.formularioGenero div{
    display: flex;
    align-items: center;
    width: 100%;
}


::placeholder{
    color: #42210B;
 /*   background-color: #C69C6D;*/
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: normal;
    font-size: 1rem;
    text-align: left;

}


.form1 .concluirCadastro{
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
}

#formulariocampos{
    display: block;
}

.btnCadastro{
    display: flex;
    justify-content: center;
}



@media screen and (min-width:769px) {
    main{
        min-height: 77vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #000000;
    }

    .corpoCadastro{
        min-width: 40%;
        background-color:hsla(32, 44%, 60%, 0.5);
        border-radius: 40px;
    }

}