@font-face {
    font-family: 'Akrobat-Regular';
    src:url('./font/Akrobat-Regular.otf')
}
@font-face {
    font-family: 'Akrobat-Black';
    src:url('./font/Akrobat-Black.otf')
}
@font-face {
    font-family: 'Akrobat-Bold';
    src:url('./font/Akrobat-Bold.otf')
}
@font-face {
    font-family: 'Hansief';
    src:url('./font/HansiefRough.otf')
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Akrobat-Regular,sans-serif;
    font-weight: 400;

}
main>h2{
    padding: 5% 6%;
    color:#42210B ;
    text-align: left;
}

#dados{
    display: flex;
    justify-content: center;
    padding: 0% 8% 0% 8%;
    width: 100%;
    flex-direction: column;
}

#imgUser{
    border-radius: 100px;
    width: 130px;
    height: 130px;
    max-height: 150px;
    position: relative;
    top: 0 px;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #C69C6D;
}

.form1{
    display: flex;
    justify-content: space-between;
    margin: 0px 5% 10%;
    flex-direction: column;
}

.butons{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 5%;
}

.butons button{
    background-color: #754C24;
    border: none;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    width: 105px;
    height: 30px;
}

#alterar{
    background-color: #754C24;
    border: none;
    color: #FFFFFF;
    border-radius: 20px;
    width: 105px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cancelar{
    background-color: #754C24;
    border: none;
    color: #FFFFFF;
    border-radius: 20px;
    width: 105px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
} 


.infos{
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 1.3rem;
    font-family: 'Akrobat-Regular';
}
.form1 label{
    font-family: 'Akrobat-black';
    color: #C69C6D;
}

.form1 input{
    font-family: 'Akrobat-black';
    color: #C69C6D;
}


main > h2 .light{
    color: #C69C6D;

}
main>p {
    padding: 3% 6%;
    color: #754C24 ;
    font-size: 1.25rem;

}
main>nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6%;

}
main>nav>.frases>*{
    color:#C69C6D;
    margin: 5% 0%;
}
main nav>.cortes{
    width: 100%;
    padding: 6% 0%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
main nav .cortes article{
    padding: 3% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.light{
    color: #C69C6D;
}
.normal{
    color: #754C24;
}
.dark{
    color: #42210B;
}
.white{
    color:#FFFFFF;
}
.black{
    color: #000000;
}

main>.historico{
    background-color:#754C24;
    color:#C69C6D;
    align-items: start;
    padding: 6%;
}
main>.historico>h2{
    margin: 3% 0%;
}

main>.historico>.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5%;
}

main>.historico>.dados>article{
    margin: 3% 0%;

}
main>.historico>.info>p{
    font-size:1.25rem
}
.ak-black{
    font-family:Akrobat-Black ;
}
.ak-bold{
    font-family: Akrobat-Bold;
}

main .planosIndex {
    display: none;
}

main .planosIndex .tituloPlanos {
    font-size: 1.5rem;
    color: #C69C6D;
    font-family: 'Hansief-Rough';
    margin: 10% 0% 30% 0%;
}

main .planosIndex .cardsPlanos .card {
    border: 2px solid #C69C6D;
    width: 258px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap: 6px;
    margin-bottom: 100px;
}

main .planosIndex .cardsPlanos .card .imgCard {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    top: -80px;
    max-height: 150px;
    position: relative;
    top: 0 px;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #C69C6D;
}

main .planosIndex .cardsPlanos .card .conteudoCard {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

main .planosIndex .cardsPlanos .card .categoria {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Hansief-Rough';
    color: #42210B;
    font-size: 1.5rem;
    position: relative;
    top: -40px;
    border-bottom: 4px solid #42210B;
    width: 120px;
    padding-bottom: 10px;

}

main .planosIndex .cardsPlanos .card .seuplano {
    background-color: #754C24;
    text-align: center;
    font-family: 'Hansief-Rough';
    color: #FFFFFF;
    font-size: 1rem;
    position: relative;
    top: -40px;
    width: 120px;
    border-radius: 20px;
}

main .planosIndex .cardsPlanos .card .preco {
    width: 130px;
    padding-top: 10px;
    text-align: center;
    margin-top: -50px;
    font-size: 1.5rem;
    color: #42210B;
    font-family: 'Hansief-Rough';
    font-weight: lighter;
}

main .planosIndex .cardsPlanos .card .descPlanos {
    color: #42210B;
}

@media screen and (min-width:769px) {
    main>h2{
        padding: 5% 6%;
    }
    .mob{
        display: none;
    }
    .note{
        display:block;
    }
    main>p{
        padding: 1% 6%;
        text-align: center;
    }
    main>nav{
        padding: 2% 6%;
    }
    main>nav>.frases>*{
        margin: 2% 0%;
        text-align: center;
    }
    main>nav>.cortes{
        padding: 0%;
        flex-direction: row;
        justify-content: space-around;
    }
    main>.historico{
        padding: 2% 6%;
        align-items: center;
        gap:0px
    }
    main>.historico>h2{
        align-self: center;
    }
    main>.historico .dados{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        margin-top: 0%;
    }
    main>.historico>.dados>article{
        padding: auto;
        width: 30%;
    }

    #dados{
        flex-direction: row;
    }
}

@media screen and (min-width:949px) {
    main .planosIndex{
        display: block;
    }
}
