@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');

@font-face {
    font-family: 'Akrobat-Regular';
    src: url('../font/Akrobat-Regular.otf')
}

@font-face {
    font-family: 'Akrobat-Black';
    src: url('../font/Akrobat-Black.otf')
}

@font-face {
    font-family: 'Akrobat-Bold';
    src: url('../font/Akrobat-Bold.otf')
}

* {
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color: #42210B;
    --secundary-color: #754C24;
    --terciary-color: #C69C6D;
    --white: #ffff;
    --ak-font-regular: Akrobat-Regular;
    --ak-font-black: Akrobat-Black;
    --ak-font-bold: Akrobat-Bold;
    --ak-font-semibold: Akrobat-SemiBold;
    --hans-font: Hansief-Rough;
}

.corpoIndex {
    display: flex;
    flex-direction: column;
}

.corpoIndex .navslider {
    text-align: center;
    margin: 20px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.slideshow-container img {
    width: 100%;
    max-height: 400px;
    min-height: 250px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-container .mySlides .text {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 40%;
    padding: 0 20%;
    color: white;
    font-family: 'Hansief-Rough', sans-serif;
    text-shadow: 0 0 5px #000;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #C69C6D;
    display: none;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #C69C6D;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active,
.dot:hover {
    background-color: #42210B;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




h1 {
    font-weight: normal;
    font-size: 1rem;
    color: #ffff;
}


main .corpoIndex .descricao {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    padding: 0% 10%;
}

main .corpoIndex .descricao .introducao p {
    font-family: 'Numans', sans-serif;
    color: #C69C6D;
    font-size: 0.8rem;
    margin-bottom: 30px;
    /*text-align: left ;*/
}

main .corpoIndex .descricao .tituloDesc {
    padding: 0;
}

main .corpoIndex .descricao .tituloDesc h2 {
    font-weight: 800;
    font-size: 2rem;
    color: #42210B;
}

main .planosIndex {
    background-color: #42210B;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .planosIndex .tituloPlanos {
    font-size: 1.5rem;
    color: #C69C6D;
    font-family: 'Hansief-Rough';
    margin: 10% 0% 30% 0%;
}

main .planosIndex .cardsPlanos .card {
    border: 2px solid #C69C6D;
    width: 258px;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap: 6px;
    margin: 50px auto;
}

main .planosIndex .cardsPlanos .card .imgCard {
    /*margin: 10px 0px 0px;
    position: relative;
    top: -90px;
    border: 2px solid #C69C6D;
    border-radius: 100px;*/
    border-radius: 100px;
    width: 120px;
    height: 120px;
    top: -80px;
    max-height: 150px;
    position: relative;
    top: 0 px;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #C69C6D;
}

main .planosIndex .cardsPlanos .card .conteudoCard {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

main .planosIndex .cardsPlanos .card .categoria {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Hansief-Rough';
    color: #42210B;
    font-size: 1.5rem;
    position: relative;
    top: -40px;
    border-bottom: 4px solid #42210B;
    width: 120px;
    padding-bottom: 10px;

}

main .planosIndex .cardsPlanos .card .preco {
    width: 130px;
    padding-top: 10px;
    text-align: center;
    margin-top: -50px;
    font-size: 1.5rem;
    color: #42210B;
    font-family: 'Hansief-Rough';
    font-weight: lighter;
}

main .planosIndex .cardsPlanos .card .descPlanos {
    color: #42210B;
}

main .planosIndex .cardsPlanos .card .btnComecar {
    background-color: #ffff;
    font-family: 'Hansief-Rough';
    color: #42210B;
    width: 150px;
    height: 55px;
    border-radius: 20px;
    margin: 10px 0px 15px;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #42210B;
    cursor: pointer;
}

main .barbeariasIndex {
    background-color: #ffffff;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

main .barbeariasIndex h2 {
    /*font-size: 1.2rem;*/
    color: #42210B;
    font-family: 'Hansief-Rough';
    font-weight: lighter;
}


main .barbeariasIndex .cardsBarbearia .cardB {
    border: 1px solid #42210B;
    width: 288px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 30px;
}


main .barbeariasIndex .cardsBarbearia .cardB .descPlanos {
    color: #42210B;
    margin-top: 20px;
    border-top: 2px solid #42210B;
    padding-top: 13px;
    width: 170px;
    text-align: center;
}

main .barbeariasIndex .cardsBarbearia .cardB .descLocal {
    border-bottom: 2px solid #42210B;
    padding-bottom: 13px;
    width: 170px;
    text-align: center;
}

main .barbeariasIndex .localBarbearia {
    font-family: 'Hansief-Rough';
    color: #42210B;
    font-size: 1.7rem;
}

main .barbeariasIndex .cardsBarbearia .cardB .btnComecar {
    background-color: #C69C6D;
    font-family: 'Hansief-Rough';
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    margin: 20px 0px;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ffffff;
    cursor: pointer;
}


/*.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: #42210B;
}

.duvidas h2{
    padding-top: 10%;
    color: var(--terciary-color);
}

.duvidas .perguntasFrequentes{
    padding: 10%;
}

.duvidas .perguntasFrequentes .perguntasResposta{
    border-bottom: 1px solid #C69C6D;
    display: flex;
    margin-bottom: 20px;
    justify-content: start;
}

.duvidas .perguntasFrequentes .perguntasResposta .iconePergunta{
    background-image: url("../images/iconplus.png") ;
    padding: 10px;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta p{
    padding-bottom: 20px;
    color: var(--terciary-color);
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta #resposta1, #resposta2, #resposta3, #resposta4{
    padding-bottom: 20px;
    font-size: 0.8rem;
    display: none;
}*/


@media screen and (min-width:769px) {

    .slideshow-container .mySlides .text {
        font-size: 2.5rem;
        height: 99.2%;
        padding: 0 10%;
    }

    main .corpoIndex .descricao {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 30px auto;
        padding: 0% 10%;
    }

    main .corpoIndex .descricao .tituloDesc {
        width: 100%;
        flex: 1 1 auto;
        padding-right: 10%;
    }

    main .corpoIndex .descricao .introducao {
        width: 100%;
        flex: 1 1 auto;
    }

    main .corpoIndex .descricao .introducao p {
        font-size: 1.1rem;
    }

    main .corpoIndex .descricao .tituloDesc h2 {
        font-size: 3rem;
    }


    main .planosIndex .tituloPlanos, .tituloBarbearias {
        font-size: 2rem;
        margin: 1% 0% 1% 0%;
    }

    main .planosIndex h3 {
        font-size: 1rem;
    }

    main .planosIndex .cardsPlanos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        margin-top: 5%;
    }

    main .barbeariasIndex {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    main .barbeariasIndex .cardsBarbearia {
        width: 100%;
        display: flex;
        justify-content: space-around;
        /* margin-top: 5%; */
        gap: 10px;
        flex-wrap: wrap;
        flex: 1 1 290px;
    }

    main .barbeariasIndex .cardsBarbearia .cardB {
        width: 290px;
        height: 500px;
    }

    /* .duvidas .perguntasFrequentes .perguntasResposta{
        width: 700px;
        justify-content: center;
    }

    .duvidas .perguntasFrequentes .perguntasResposta p{
        font-size: 1.5rem;
    }

    .duvidas h2{
        padding-top: 5%;
    }
    
    .duvidas .perguntasFrequentes{
        padding: 5%;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta{
        border-bottom: 1px solid #C69C6D;
        display: flex;
        margin-bottom: 20px;
        justify-content: start;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .iconePergunta{
        background-image: url("../images/iconplus.png") ;
        padding: 10px;
        width: 35px;
        height: 24px;
        background-repeat: no-repeat;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta p{
        padding-bottom: 20px;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta #resposta1, #resposta2, #resposta3, #resposta4{
        padding-bottom: 20px;
        font-size: 0.8rem;
        display: none;
    }*/



}

@media (min-width:1280px) {

    /*.slideshow-container {
        max-width: 1600px;
    }*/

    main .corpoIndex .descricao .introducao {
        padding: 25px 0;
    }

    main .corpoIndex .descricao .introducao p {
        font-size: 1.2rem;
    }

    main .corpoIndex .descricao .tituloDesc {
        padding-right: 3%;
    }

    main .corpoIndex .descricao .tituloDesc h2 {
        font-size: 4rem;
    }

    main .planosIndex {
        background-color: #42210B;
        padding: 1% 8%;
    }

    main .planosIndex .tituloPlanos {
        font-size: 2rem;
        margin: 4% 0% 10% 0%;
    }

    main .planosIndex .cardsPlanos .card {
        width: 420px;
        height: 500px;
        gap: 15px;
    }

    main .planosIndex .cardsPlanos .card .imgCard {
        width: 150px;
        height: 150px;
        border-radius: 110px;
        top: -75px;
    }

    main .barbeariasIndex {
        padding: 1% 10%;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    main .barbeariasIndex h2 {
        color: #42210B;
        margin-bottom: 4%;
    }


    /*     .duvidas {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }

        .duvidas h2{
            font-size: 1.5rem;
        }
        .duvidas .perguntasFrequentes .perguntasResposta{
            width: 900px;
            justify-content: start;
        }

        .duvidas .perguntasFrequentes .perguntasResposta p{
            font-size: 1rem;
        }

        .duvidas .perguntasFrequentes{
            padding-top: 60px;
        }*/

}

/*---- not-found-------*/

.not-found{
    width: 100%;
    height: 100%;
}

.not-found .container-not-found{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.not-found .container-not-found .container-img-not-found, .container-text-not-found{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    height: 100%;
}

.not-found .container-not-found .container-img-not-found img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    background-repeat: no-repeat;
}

.not-found .container-not-found .container-text-not-found{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    gap: 20px;
    text-align: left;
}

.not-found .container-not-found .container-text-not-found h2{
    padding-right: 15%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Hansief-Rough';
}

.not-found .container-not-found .container-text-not-found button{
    cursor: pointer;
    /* transition: 0.6s ease; */
    border-radius: 3px;
    background-color: var(--primary-color,#42210B);
    color: var(--terciary-color,#c69c6d);
    text-transform: uppercase;
    list-style: none;
}

.not-found .container-not-found .container-text-not-found button a h2{
    font-size: .8rem;
    line-height: 1rem;
    padding: 16px;
    font-weight: 100;
}

.not-found .container-not-found .container-text-not-found button:hover{
    background-color: var(--secundary-color, #754c24);
    color:#fff;
}

@media screen and (min-width: 425px) {
    .not-found .container-not-found .container-text-not-found h2{
        font-size: 2rem;
        line-height: 2.2rem;
    }
}

@media screen and (min-width: 768px) {
    .not-found .container-not-found .container-text-not-found button a h2{
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding: 10px;
    }
}



  /*------------ cards-equipe ----------------------*/

#cards-equipe{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px auto;
}

#cards-equipe .tituloDesc h2 {
    font-weight: 800;
    font-size: 2rem;
    color: #42210B;
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    font-family: 'Akrobat-Black';
}

#cards-equipe .container-equipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    align-content: space-between;
    margin: 10px auto;
    justify-content: center;
}

/* @media screen and (min-width:425px) {
    #cards-equipe .container-equipe{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: space-between;
    }
} */

#cards-equipe .container-equipe .members{
    width: 100%;
    max-width: 300px;
    height: auto;
    /* background-color: var(--terciary-color); */
    border: var(--terciary-color) 2px solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#cards-equipe .container-equipe .members .photo-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#cards-equipe .container-equipe .members .photo-name img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: var(--secundary-color);
    object-position: center;
    object-fit: cover;
}

#cards-equipe .container-equipe .members .name{
    text-align: left;
    padding-left: 10px;
    color: var(--primary-color);
}



/*------------ form contact us ----------------------*/

#contact-us {
    /* position: fixed;
    z-index: 999999;
    inset: 0px;
    text-align: center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6); */
    display: flex;
    width: 100%;
}

#contact-us .p-container {
    margin: 60px auto;
    box-sizing: border-box;
    padding: 10px 30px;
    max-width: 600px;
    width: 100%;
    background: rgb(255, 255, 255);
}

#contact-us .p-container .content {
    text-align: left;
}

#contact-us .p-container .content .politica-paragrafo {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 15px;
    font-family: sans-serif;
}

#close-contact-us {
    margin: 20px auto;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

