:root {
    --primary-color: #42210B;
    --secundary-color: #754C24;
    --terciary-color: #C69C6D;
    --white: #ffff;
    --ak-font-regular: Akrobat-Regular;
    --ak-font-black: Akrobat-Black;
    --ak-font-bold: Akrobat-Bold;
    --ak-font-semibold: Akrobat-SemiBold;
    --hans-font: Hansief-Rough;
}



/*//////////////FORM LOGIN 
PÁGINA CADASTRO*/

.corpoCadastro .caixinhaLogin {
    width: 100%;
    background-color: var(--terciary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.form2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.form2 input {
    width: 80%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}

input[type=submit] {
    background-color: var(--secundary-color);
    color: white;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: var(--ak-font-black);
    cursor: pointer;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: var(--primary-color);
}

.plus-info {
    margin: 15px auto;
    font-size: 1rem;
    cursor: pointer;
}

.plus-info a:hover {
    color: white;
}

#formulariocampos {
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
    background-color: var(--terciary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    border-radius: 10px;
}

.form1>* {
    margin: 1%;
    width: 80%;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.form1 input {
    width: 80%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}


input[type='radio'] {
    display: none;
}

.radio-container label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    line-height: 1.5rem;
}

.custom-radio {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    display: grid;
    line-height: 1.2rem;
    place-content: center;
    border-radius: 50%;
}

.custom-radio,
span {
    transition: 0.5s ease;
    color: #fff;
}

.custom-radio span {
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

input[type='radio']:checked+.custom-radio {
    border-color: var(--primary-color);
}

input[type='radio']:checked+.custom-radio span {
    background: var(--primary-color);
}

/*//////////////FORM FALE CONOSCO 
PÁGINA FALE CONOSCO*/
#contact-us{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contact-us h2{
    font-weight: 800;
    font-size: 2rem;
    color: #42210B;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

#contact-us .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--terciary-color);
    border-radius: 20px;
    max-width: 768px;
    margin: 0 auto;
}

#contact-us .content form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

#contact-us .content form input{
    width: 100%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
    margin: 5px auto;
}

#contact-us .content form .list-option{
    height: 35px;
    width: 100%;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
    margin: 5px auto;
}

/* input[type=text],
select,
textarea {

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-sizing: border-box;

    margin-top: 6px;

    margin-bottom: 16px;

    resize: vertical;

    border: 1px solid #42210B;
}





input[type=submit] {
    background-color: var(--secundary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--ak-font-black);
    cursor: pointer;
    margin: 5px;
}

input[type=submit]:hover {
    background-color: var(--primary-color);
}


.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.form2 input {
    width: 70%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}

.form2 .logar {
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
    margin-bottom: 5%;
}



h2.titulo {
    font-weight: bold;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

p.titulo {
    font-weight: regular;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

h2.tituloh2 {
    color: #000000;
    margin: 10px;
    padding: 10px;
}

ul.facaSeulogin {
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

li.redesSociais {
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

.formularioGenero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    margin: 30px;
    padding: 10px;
    border: 10px;
    text-align: left;
}

.form1 {
    display: inline-block;
    font-weight: regular;
    font-size: 1rem;
    color: #42210B;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    fill: #C69C6D;

}

.form1>* {
    margin: 1%;
    width: 80%;
}

.form1 input {
    border: solid 2px var(--primary-color);
    font-size: 1rem;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;

}

.form1 input[type=radio] {
    margin: 1% 1%;
}

.formularioGenero div {
    display: flex;
    align-items: center;
    width: 100%;
}


::placeholder {
    color: #42210B;
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
}


.form1 .concluirCadastro {
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
}

#formulariocampos {
    display: none;
}

.btnCadastro {
    display: flex;
    justify-content: center;
}



@media screen and (min-width:769px) {
    main {
        min-height: 77vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .corpoCadastro {
        min-width: 40%;
        background-color: hsla(32, 44%, 60%, 0.5);
        border-radius: 40px;
    }
} */