@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Hansief-Rough';
    src: url(../font/HansiefRough.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(../font/Akrobat-Regular.otf) format('opentype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main .corpoCadastro {
    display: block;
    margin: 10px;
    text-align: center;
}
main *{
    font-family: var(--ak-font-regular);
}

main section .links{
    display: flex;
    justify-content: center;
}
 main section .links a{
    margin: 0% 5%;
 }

.facaSeulogin{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;

}

h1.titulo{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

h2.titulo{
    font-weight: bold;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

p.titulo{
    font-weight: regular;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

h2.tituloh2{
    
    color: #000000;
    margin: 10px;
    padding: 10px; 
}

ul.facaSeulogin{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

li.redesSociais{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

.formularioGenero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    font-size: 1rem;

    margin: 30px;
    padding: 10px;
    border: 10px;
    text-align: left;
}

.form1{
    display: inline-block;
    font-weight: regular;
    font-size: 1rem;
    color: #42210B;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;
    fill: #C69C6D;
        
}
.form1>*{
    margin: 1%;
    width: 50%;
    
}
input{
    border:solid 2px var(--primary-color);
    border-radius: 5%;
    background-color: #C69C6D;
    padding: 1%;
    font-size: 1rem;
}

input[type=radio]{
    margin: 5% 1%;
}


::placeholder{
    color: #42210B;
    background-color: #C69C6D;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
    


}


.concluirCadastro{
    background-color: #C69C6D;
    font-family: 'Hansief-Rough';
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    width: 209px;
    height: 56px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    border-radius: 10px;
}
