

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main *{
    font-family: var(--ak-font-regular);
}

:root {
    --primary-color: #42210B;
    --secundary-color: #754C24;
    --terciary-color: #C69C6D;
    --white: #ffff;
    --ak-font-regular: Akrobat-Regular;
    --ak-font-black: Akrobat-Black;
    --ak-font-bold: Akrobat-Bold;
    --ak-font-semibold: Akrobat-SemiBold;
    --hans-font: Hansief-Rough;
}

main{
    background-color: var(--terciary-color);
}

main section .links{
    display: flex;
    justify-content: center;
}
 main section .links a{
    margin: 0% 5%;
 }

.facaSeulogin{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;

}

h1.titulo{
    font-weight: bold;
    font-size: 26px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

.caixinhaLogin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 5%;
    flex-direction: column;
}

.caixinhaLogin .chamacadastro{
    color: var(--primary-color);
    cursor: pointer;
}

/*.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.form2 input{
    width: 70%;
    height: 35px;
    border: 1px solid #42210B;
    border-radius: 5px;
    padding-left: 10px;
}*/

#login {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#login input{
    height: 35px;
    border: 1px solid #42210B;
    background-color: var(--branco);
    border-radius: 5px;
    padding-left: 10px;
}

#login #lembrarMe{
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

#login .logar{
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
    margin-bottom: 5%;
    cursor: pointer;
}


h2.titulo{
    font-weight: bold;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

p.titulo{
    font-weight: regular;
    font-size: 17px;
    color: #42210B;
    margin: 10px;
    padding: 10px;
}

h2.tituloh2{
    color: #000000;
    margin: 10px;
    padding: 10px; 
}

ul.facaSeulogin{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

li.redesSociais{
    display: inline-block;
    text-align: center;
    align-content: space-between;
    gap: 10px;
}

.formularioGenero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 10px;
    max-width: 768px;
    margin: 0 auto;
}

.corpoCadastro .titulo{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6rem;
    padding: 0 10px;
    margin: 10px auto;
}

.corpoCadastro .links{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}


::placeholder{
    color: #42210B;
 /*   background-color: #C69C6D;*/
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: normal;
    font-size: 1rem;
    text-align: left;

}

.form1 .concluirCadastro{
    font-family: 'Hansief-Rough';
    font-size: 1rem;
    color: #FFFFFF;
    width: 160px;
    height: 56px;
    padding: 10px;
    border-radius: 5px;
    background-color: #42210B;
}

#formulariocampos{
    display: block;
}

.btnCadastro{
    display: flex;
    justify-content: center;
}

.corpoCadastro #formulariocampos ul li{
    color: #FFFFFF; 
}


@media screen and (min-width:769px) {
    main{
        min-height: 77vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 5px solid #000000;*/
    }

    .corpoCadastro{
        width: 100%;
        max-width: 600px;
        /*min-width: 40%;
        background-color:hsla(32, 44%, 60%, 0.5); 
        border-radius: 40px;*/
    }

}
