@font-face {
    font-family: 'Hansief-Rough';
    src: url(../font/HansiefRough.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Black';
    src: url(../font/Akrobat-Black.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Bold';
    src: url(../font/Akrobat-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Akrobat-Regular';
    src: url(../font/Akrobat-Regular.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Akrobat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* link que ainda não foi visitado */
a:link {
    color: var(--marrom-claro);
}

 /* link que foi visitado */
a:visited {
    color: var(--marrom-claro);
}

 /* mouse over */
a:hover {
    color: var(--amarelo-btn);
}

/* link selecionado */
a:active {
    color: var(--marrom-principal);
}

:root {
    --marrom-principal:#754C24;
    --marrom-escuro:#42210B;
    --marrom-claro:#C69C6D;
    --amarelo-btn:#CF8801;
    --preto: #181818;
    --branco: #fff;
    --cinza: #dadada;
}

header{
    box-shadow: 0px 1px 10px rgba(0,66, 33, 11, 0.65);
    background-color: rgb(66, 33, 11);
    margin: 0 auto;
}

header .cabecalho{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}

header .cabecalho a{
    text-decoration: none;
    color: inherit;
}

header .cabecalho .dsk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (max-width: 768px){
    header .cabecalho .dsk{
        display: none;
    }
} */

header .cabecalho .list{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

li{
    color: var(--marrom-claro);
    padding: 5px;
}

header .cabecalho .menu a{
    font-size: 1rem;
    padding: 0px 2px;
    text-align: center;
    font-weight: bold;
    text-align: end;
}

header .cabecalho .menu a:hover{
    color: var(--amarelo-btn);
}

footer{
    background-color:var(--preto);
    color: var(--marrom-claro);
    display: flex;
    padding: 5% 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
}

.container-footer .logo-footer{
    max-width: 200px;
    display: flex;
    align-items: center;
}

.container-footer .ladoDireitoFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-footer .nav-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    gap: 10px;
}

.container-footer .redes-sociais{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.container-footer .redes-sociais li a img{
    width: 30px;
}

@media screen and (min-width:768px) {
    header .cabecalho{
        flex-direction: row;
    }

    header .cabecalho .list{
        width: 350px;
        margin-right: 15%;
        align-items: center;
        justify-content: space-between;
        
    }
    
    header .cabecalho .menu a{
        font-size: 1rem;
    }   

    .container-footer{
        flex-direction: row;
        width: 100%;
        padding: 0 10%;
        align-items: center;
    }

    .container-footer .ladoDireitoFooter{
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .container-footer .nav-footer{
        align-items: initial;
    }

    .container-footer .redes-sociais{
        justify-content: center;
        gap: 20px;
        opacity: .7;
    }

    .container-footer .redes-sociais:hover{
        opacity: 1;
        transition: .5s;
    }

    .container-footer{
        gap: 20%;
    }
}

@media (min-width:1280px) {

    header .cabecalho .list{
        width: 400px;
    }
    
    header .cabecalho .menu a{
        font-size: 1.4rem;
    }   
}