@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Numans&display=swap');
@font-face {
    font-family: 'Akrobat-Regular';
    src:url('../font/Akrobat-Regular.otf')
}
@font-face {
    font-family: 'Akrobat-Black';
    src:url('../font/Akrobat-Black.otf')
}
@font-face {
    font-family: 'Akrobat-Bold';
    src:url('../font/Akrobat-Bold.otf')
}
*{
    box-sizing: border-box;
}

:root{
    --primary-color: #42210B;
    --secundary-color: #754C24;
    --terciary-color: #C69C6D;
    --white:#ffff;
    --ak-font-regular:Akrobat-Regular;
    --ak-font-black:Akrobat-Black;
    --ak-font-bold:Akrobat-Bold;
    --ak-font-semibold:Akrobat-SemiBold;
    --hans-font:Hansief-Rough;
}

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: #42210B;
}

.duvidas h2{
    padding-top: 10%;
    color: var(--terciary-color);
}

.duvidas .perguntasFrequentes{
    padding: 10%;
}

.duvidas .perguntasFrequentes .perguntasResposta{
    border-bottom: 1px solid #C69C6D;
    display: flex;
    margin-bottom: 20px;
    justify-content: start;
}

.duvidas .perguntasFrequentes .perguntasResposta .iconePergunta{
    background-image: url("../images/iconplus.png") ;
    padding: 10px;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta p{
    padding-bottom: 20px;
    color: var(--terciary-color);
}

.duvidas .perguntasFrequentes .perguntasResposta .pergunta #resposta1, #resposta2, #resposta3, #resposta4{
    padding-bottom: 20px;
    font-size: 0.8rem;
    display: none;
}


@media screen and (min-width:769px) {
    .duvidas .perguntasFrequentes .perguntasResposta{
        width: 700px;
        justify-content: center;
    }

    .duvidas .perguntasFrequentes .perguntasResposta p{
        font-size: 1.5rem;
    }

    .duvidas h2{
        padding-top: 5%;
    }
    
    .duvidas .perguntasFrequentes{
        padding: 5%;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta{
        border-bottom: 1px solid #C69C6D;
        display: flex;
        margin-bottom: 20px;
        justify-content: start;
        cursor: pointer;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .iconePergunta{
        background-image: url("../images/iconplus.png") ;
        padding: 10px;
        width: 35px;
        height: 24px;
        background-repeat: no-repeat;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta p{
        padding-bottom: 20px;
    }
    
    .duvidas .perguntasFrequentes .perguntasResposta .pergunta #resposta1, #resposta2, #resposta3, #resposta4{
        padding-bottom: 20px;
        font-size: 0.8rem;
        display: none;
    }



}

@media (min-width:1280px) {
    .duvidas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .duvidas h2{
        font-size: 1.5rem;
    }
    .duvidas .perguntasFrequentes .perguntasResposta{
        width: 900px;
        justify-content: start;
    }

    .duvidas .perguntasFrequentes .perguntasResposta p{
        font-size: 1rem;
    }

    .duvidas .perguntasFrequentes{
        padding-top: 60px;
    }

} 